################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/win32/DotNet/n2n.VC.VC.opendb
/win32/DotNet/n2n.VC.db
*.tlog
*.iobj
*.ipdb
*.obj
*.pdb
